<div class="container-fluid">
    <div class="row"></div>
    <div class="col-sm-12"></div>
    <table class="table table-dark mt-5">
        <thead>
            <tr>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Title</th>
                <td>{{this.title}}</td>
            </tr>
            <tr>
                <th scope="row">Arguments</th>
                <td>{{this.args}}</td>
            </tr>
            <tr>
                <th scope="row">Path</th>
                <td>{{this.path}}</td>
            </tr>
            <tr>
                <th scope="row">Operating System</th>
                <td>{{this.operatingSystem}}</td>
            </tr>
            <tr>
                <th scope="row">Process ID</th>
                <td>{{this.processId}}</td>
            </tr>
            <tr>
                <th scope="row">Node.js version</th>
                <td>{{this.nodeVersion}}</td>
            </tr>
            <tr>
                <th scope="row">Folder</th>
                <td>{{this.folder}}</td>
            </tr>
            <tr>
                <th scope="row">Reserved memory</th>
                <td>{{this.memory}}</td>
            </tr>
        </tbody>
    </table>
</div>